@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --brand: 217.2 91.2% 59.8%; /* blue-500 */
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
